
  <link rel="manifest" href="/manifest.webmanifest">

  <meta name="mobile-web-app-capable" content="yes" />
  
  <meta name="apple-mobile-web-app-title" content="Morgan Murrah - Developer Blog" />
  
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  
  <script>
  
  if ('serviceWorker' in navigator) {
  
  navigator.serviceWorker.register('/sw.js');
  
  };
  
</script>
<style>
  code {
    background: black;
    color: white;
  }

  .blah { 
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border: 1px solid black;
    padding: 20px;
  }

.ananke-socials.ananke-socials a .icon svg{
  width: 50px;
  height: 50px;
}

header details {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0.5em 0.5em 0;
  background: black;
}

header summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  background: black;
}

header details[open] {
  padding: 0.5em;
}

.button {
  --button-bg: #342a21;
  --button-color: #ffffff;
  --button-hover-bg: #4b4b4a;
  --button-hover-color: #ffffff;
  --button-border-width: 2px;
  --button-border-style: solid;
  --button-border-color: var(--button-bg);
  --button-radius: 0.5em;

  display: inline-flex;
  align-items: center;
  gap: var(--button-gap, 0.5em);
  padding: var(--button-padding, 0.5em 0.8em);

  background: var(--button-bg);
  color: var(--button-color);

  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);

  text-decoration: none;
  font-weight: var(--button-font-weight, 700);
  font-size: var(--button-font-size, 1em);
  letter-spacing: 0.05ch;
  font-family: sans-serif;
  line-height: 1.1; /* Set or buttons will be different sizes (<a>/<button>) */

  cursor: pointer;
}

/* Hover/focus/active */
.button:hover {
  background: var(--button-hover-bg);
  color: var(--button-hover-color);
}

.button:focus {
  outline-width: var(--button-outline-width, var(--button-border-width));
  outline-style: var(--button-outline-style, var(--button-border-style));
  outline-color: var(--button-outline-color, var(--button-border-color));
  outline-offset: var(
    --button-outline-offset,
    calc(var(--button-border-width) * 2)
  );
}

.button:active {
  transform: scale(99%);
}

/* Variants */
.button[data-button-variant="primary"] {
  --button-bg: #f3de8a;
  --button-color: #342a21;
  --button-border-color: currentColor;
  --button-hover-bg: #f1d979;
  --button-hover-color: #342a21;
}

.cluster {
  --gutter: 8px;
  display: flex;
  flex-direction: var(--cluster-direction, row);
  flex-wrap: var(--cluster-wrap, wrap);
  /* column-gap: var(--cluster-column-gap, var(--gutter, var(--space-s-m))); */
  row-gap: var(--cluster-row-gap, var(--gutter, var(--space-s-m)));
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
}

</style>
<meta property="og:image" content="https://morganwebdev.org/banner-og.png" />
<script type="speculationrules">
  {
    "prerender": [
      {
        "where": { "href_matches": ["/about/", "/bellingham/"] },
        "eagerness": "eager"
      }
    ]
  }
</script>