<footer class="{{ .Site.Params.background_color_class | default "white" }} bottom-0 w-100 pa3">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-blue no-underline black-90 dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
    <a href="javascript:document.dispatchEvent(new Event('cookie_consent_show'))">
      Show Cookie Consent Settings
    </a>
  </div>
</footer>
<!--   btn-label-only-essential-and-continue="Continue with technically required cookies only -->
<!-- <cookie-consent-banner
  btn-label-accept-and-continue="Agree and continue"
  btn-label-persist-selection-and-continue="Save selection and continue"
  btn-label-select-all-and-continue="Select all and continue"
  content-settings-description="You can decide which cookies are used by selecting the respective options below. Please note that your selection may impair in the functionality of the service."
>
<h3>
  This website uses cookies to take samples of web performance information using the software(s) <a style="color: white;" href="https://techdocs.akamai.com/mpulse/docs/welcome-to-mpulse">mPulse</a> and <a style="color: white;" href="https://support.speedcurve.com/docs/welcome">SpeedCurve</a>.
  This limited data is used purely to improve this websites performance for future visitors only. By continuing to use this website you accept cookies collecting performance data such as load time and browser type used to access the site.
</h3>

</cookie-consent-banner> -->

<!-- Open Banner again -->
<!-- <a href="javascript:document.dispatchEvent(new Event('cookie_consent_show'))">
  Show Cookie Consent Settings
</a> -->

<!-- <script>
  /* Update available Cookie Categories */
  const cookieConsentBannerElement = document.querySelector('cookie-consent-banner');
  cookieConsentBannerElement.availableCategories = [
    // {
    //   description:
    //     "Enable you to navigate and use the basic functions and to store preferences.",
    //   key: "technically_required",
    //   label: "Technically necessary cookies",
    //   isMandatory: true,
    // },
    {
      description:
        "Enable us to determine how visitors interact with our service in order to improve the user experience.",
      key: "analytics",
      label: "Analysis cookies",
    }
    // {
    //   description:
    //     "Enable us to offer and evaluate relevant content and interest-based advertising.",
    //   key: "marketing",
    //   label: "Marketing cookies",
    // },
  ];
</script> -->